@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Nunito:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --dh-card-width: 10rem;
}

#dh-card-deck {
    --margin-bottom: 0.5rem;

    display: flex;
    flex-direction: column;
    // align-items: center;
    z-index: 100;
    pointer-events: none;
    position: relative;

    &:not([data-dragging]) {
        transition: left 0.2s ease,
            right 0.2s ease,
            bottom 0.2s ease,
            margin-bottom 0.2s ease;    
    }

    &.alternate-positioning {
        position: fixed;

        &.position-center, &.position-left, &.position-right {
            bottom: var(--bottomMargin);
        }

        &.position-center {
            left: 50%;
            transform: translateX(-50%);
        }

        &.position-left {
            left: var(--borderMargin);
        }

        &.position-right {
            position: absolute;
            right: var(--borderMargin);
        }

        &.position-custom {
            margin: 0;
        }

        &:hover {
            z-index: 200;
        }
    }

    &:not(.alternate-positioning) {
        margin-bottom: var(--bottomMargin);
    }

    &.is-hidden {
        .dh-cd-controls {
            .dh-cd-control-toggle i {
                transform: rotate(180deg);
            }

            > *:not(.dh-cd-control-toggle) {
                opacity: 0;
            }
        }
    }

    .dh-card-wrapper,
    .dh-cd-controls {
        pointer-events: auto;
    }

    .overflow-y {
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-gutter: stable;
        animation: scrollfade;
        animation-timeline: --scrollfade;
        animation-range: entry 0% exit 100%;
        scroll-timeline: --scrollfade y;
        mask-image: linear-gradient(0deg, transparent 0%, black var(--fade-end), black calc(100% - var(--fade-start)), transparent 100%);
        padding-right: calc(12px - var(--scrollbar-width)) !important;
    }

    &:not(:has(.dh-cd-cards:hover, .dh-cd-controls:hover)) .enfant1.auto-hide {
        opacity: 0;
    }

    .dh-cd-cards {
        --card-width: 10rem;
        --card-height: calc(var(--card-width) * 7 / 5);
        --fade-orientation: to top;
        
        position: relative;
        margin-bottom: var(--betweenMargin);
        opacity: 1;

        transform: translateY(var(--dh-cd-hide-offset, 0px));
        transition: transform 0.2s ease, height 0.3s ease, top 0.3s ease, opacity 0.5s ease-in;

        &.flat {
            height: calc(var(--card-height) + 20px);

            .dh-card-wrapper {
                --translate-y: 0px !important;
                --rotate: 0deg !important;
            }
        }

        &.description-hidden {
            .community, .ancestry, .subclass {
                > article {
                    > section.description {
                        > *:not(.features) {
                            display: none;
                        }
                    }
                }
            }
        }

        article {
            max-height: calc(var(--height) * 0.65);
        }

        &.auto-hide {
            &:not(:hover):not(:has(+ .dh-cd-controls:hover)) {
                opacity: 0;
            }
        }
        // &.auto-hide:not(:hover):not(:has(+ .enfant2:hover)) {
        //     opacity: 0;
        // }

        &:not(:hover) {
            .dh-card:not(.selected) {
                mask-image: linear-gradient(
                    var(--fade-orientation),
                    black 0%,
                    black max(calc(var(--card-gradient) - 20%), 0%),
                    transparent var(--card-gradient)
                );
            }

            // &.auto-hide {
            //     opacity: 0;
            // }
        }

        &.invert-gradient {
            --fade-orientation: to bottom;
        }

        &.no-gradient {
            mask-image: none;
        }

        .dh-card-wrapper {
            position: absolute;

            &:not(.selected) {
                &:has(.hover-layout:hover) {
                    --hover-y: var(--hover-y-value);
                    --hover-scale: 1.1;
                    --base-z: 500 !important;
                }

                .dh-card-description {
                    overflow: hidden;
                }
            }

            &.selected {
                top: -100%;

                --translate-x: 0px;
                --translate-y: 0px;
                --rotate: 0deg;
                --hover-y: 0px;
                --hover-scale: 1;
                --card-scale: var(--selected-scale);

                transform: translate(-50%, 0) scale(var(--card-scale)) !important;
                z-index: 1000 !important;
                image-rendering: auto;

                .hover-layout {
                    pointer-events: none;
                }
            }

            .card-buttons {
                position: absolute;
                top: 0;
                left: 100%;
                margin-left: 2px;
                display: flex;
                flex-direction: column;
                gap: 0.05rem;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.1s ease-in;

                button {
                    font-size: var(--font-size-8);
                    padding: 0 0.25rem;
                }
            }

            &.show-actions .card-buttons {
                opacity: 1;
                pointer-events: auto;
            }

            .hover-layout {
                position: absolute;
                inset: 3%;
                z-index: 100;
            }            

            &[data-locked="true"] .dh-card::after {
                content: '\f023';
                font-family: var(--fa-family,var(--fa-style-family,"Font Awesome 7 Pro"));
                font-weight: var(--fa-style, 900);
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: inherit;
                z-index: 100;
                cursor: not-allowed;
            }
        }

        .dh-card-wrapper {
            --hover-y: 0px;
            --hover-scale: 1;
            --card-scale: 1;

            position: absolute;
            left: 50%;
            top: 0;
            transform-origin: center bottom;
            transform:
                translateX(var(--translate-x))
                translateY(calc(var(--translate-y) + var(--hover-y)))
                rotate(var(--rotate))
                scale(calc(var(--card-scale) * var(--hover-scale)));
            z-index: var(--base-z);
            transition:
                transform 0.2s ease,
                top 0.2s ease,
                bottom 0.2s ease,
                left 0.2s ease,
                box-shadow 0.2s ease;
            isolation: isolate;

            .domain-card-banner {
                transform: translateZ(0);
            }
        }

        .dh-card {
            cursor: pointer;
            border: 1px solid light-dark(var(--dark-blue, #18162e), var(--golden, #f3c267));

            .recall-cost {
                --border-size: calc(var(--width) * 0.066);
            }

            > article {
                section {
                    &.description {
                        .equipment-details {
                            margin-bottom: 0.25rem;
                        }

                        .features {
                            .item-description-container {
                                display: flex;
                                flex-direction: column;
                                gap: 0.25rem;
                            }
                        }
                    }
                }
            }

            &.equipment, &.beastform, &.feature, &.transformation {
                .recall-cost {
                    display: none;
                }
            }

            &.beastform, &.feature, &.transformation {
                .domain-card-banner {
                    display: none;
                }
            }

            .card-potential-fieldset {
                    border-radius: 4px;
                    margin: 0;
                    align-items: unset;
                    padding: 2px 2px 4px;

                .card-potential-name {
                    font-size: 1.25em;
                    padding: 2px 4px 0;
                    border-radius: 2px;
                }

                .card-potential-adversary {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.25rem;
                    margin: 0 0.25rem;

                    img {
                        height: 1rem;
                        width: auto;
                    }

                    p {
                        margin: 0;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .dh-cd-controls {
        display: flex;
        gap: 0.5rem;
        margin: 0 0 var(--margin-bottom);
        z-index: 100;
        position: relative;
        height: auto;
        min-width: 5rem;
        width: 100%;
        justify-content: center;

        > * {
            transition: opacity 0.2s ease;
        }

        button {
            font-size: 1rem;
            cursor: pointer;
            align-self: end;

            &[disabled] {
                cursor: not-allowed;
            }
        }

        .dh-cd-control-switch {
            width: 4.5rem;
            font-weight: 600;
        }

        .dh-cd-control-toggle i {
            transition: transform 0.2s ease;
        }

        .dh-cd-control-move {
            cursor: grab;

            &.active {
                cursor: grabbing;
            }
        }

        .dh-cd-resources {
            display: flex;
            gap: 1rem;
            margin: 0 3rem;
        }

        .dh-cd-player {
            display: flex;
            gap: 0.5rem;
            margin: 0 3rem;
            align-items: center;

            .dh-cd-player-resource {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: space-around;
            }

            .dh-cd-player-img {
                aspect-ratio: 1;
                position: relative;
                cursor: pointer;
                border-radius: 50%;
                overflow: hidden;
                max-height: 6rem;

                &::before {
                    content: ' ';
                    position: absolute;
                    inset: 0;
                    top: var(--hp-perc);
                    background-color: rgba(255,0,0,0.5);
                }
            }
        }

        .status-bar {
            color: black;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 0.25rem;
            cursor: pointer;

            i {
                color: var(--color-border);
            }

            .status-value, .status-value input[type='number'].bar-input {
                font-size: var(--font-size-16);
                height: 1.5rem;
            }

            .status-label.pointy {
                clip-path: path('M79 22H0L5 5.5L40 0L75 5.5L79 22Z');
                margin-bottom: -4px;

                h4 {
                    line-height: 1.5rem;
                }
            }
        }

        &[data-menu-open] {
            .dh-cd-control-settings-menu {
                display: flex;
            }
        }
    }

    .dh-cd-control-settings-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 100%;
        bottom: 0;
        background-color: #18162e;
        padding: 0.5rem 1rem;
        font-size: var(--font-size-16);
        margin-left: 0.5rem;
        white-space: nowrap;
        border-radius: 0.2rem;
        box-shadow:
            0 0.4rem 1rem rgba(0, 0, 0, 0.45),
            0 0 0.25rem rgba(0, 0, 0, 0.3);
        z-index: 101;

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            cursor: pointer;
            pointer-events: auto;
            padding: 0.25rem 0;

            &:not(:first-child) {
                padding-top: 0.25rem;
            }

            &:not([hidden]) {
                border-bottom: 1px dashed;
                padding-bottom: 0.25rem;
            }

            &:not([hidden]):not(:has(~ label:not([hidden]))) {
                border-bottom: none;
                padding-bottom: 0;
            }

            span {
                flex: 1;
            }

            i {
                cursor: move;
            }
        }
    }
}

.dh-old-firefox-cards {
    .dh-card,
    .dh-card * {
        --card-width: 160px;
        --scale: 0.55;
    }
}